page-place-mandate {
  ion-label {
    font-weight: bold !important;
  }

  p.error-message-text {
    font-size: 1em;
    color: #ea6153;
    padding-left: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .swiper-slide {
    display: block;
  }

  ion-label,
  .select-text {
    margin-left: 10px;
  }

  ion-input,
  ion-select,
  ion-textarea {
    *background-color: #f2f2f2;
    padding: 2px 10px;
  }

  .invalid {
    border-bottom: 2px solid #ea6153;
  }

  #unitsOwnedCol {
    margin-top: 6px;
  }

  page-place-mandate ion-input,
  page-place-mandate ion-select,
  page-place-mandate ion-textarea {
    padding: 2px !important;
  }

  #marketLimitSegment,
  #bidsOfferSegment {
    ion-segment {
      border: 2px solid #1a2155 !important;
      border-radius: 5px !important;

      .segment-activated {
        background: #1a2155 !important;
        color: #ffffff !important;
      }
    }

    .segment-md .segment-button {
      height: 30px;
      line-height: 30px;
    }
  }

  .z--1000 {
    z-index: 1000;
  }
  .-mt--15 {
    margin-top: -15px;
  }
  .-mt--5 {
    margin-top: -5px;
  }

  /**
  * Styles overriding ionic form inputs, to make our form more compact
  */
  .item-label-stacked .text-input-md,
  .item-label-floating .text-input-md {
    margin-top: 0px !important;
  }
  form,
  input,
  optgroup,
  select {
    font-size: 12px;
  }
  .item-md {
    font-size: 14px;
  }

  .item-label-stacked .select-md,
  .item-label-floating .select-md {
    *padding-top: 0px;
    *padding-bottom: 0px;
  }

  /**
  * Bids and Offers styling
  */
  .bidOfferHeader {
    border-bottom: 1px solid #999999;
  }

  .bidCol {
    position: relative;
  }

  .bidCol:after {
    content: "";
    height: 100%; //You can change this if you want smaller/bigger borders
    width: 1px;

    position: absolute;
    right: 0;
    top: 10%; // If you want to set a smaller height and center it, change this value

    background-color: #999999; // The color of the border
  }

  .tradeHeaderRow {
    border-bottom: 1px solid #999999;
  }

  #bids--Offers--Content,
  #trade--content {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    max-height: 120px;
  }
}
