<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding id="stbSummaryPageWrapper">
  <csmobile-switch-portfolio [showCashAvailableForTrading]="false" [showTotalValue]="true" [hidden]="hideSwitchPortfolio">
  </csmobile-switch-portfolio>

  <!-- Portfolio Summary -->
  <div id="portfolioSummary">
    <csmobile-stb-summary [portfolio]="(activePortfolio)"></csmobile-stb-summary>
  </div>

  <!-- Portfolio Graph -->
  <div id="portfolioGraphs">
    <csmobile-stb-holdings-performance-charts [stockData]="activePortfolioStockData" [stockGraphData]="activePortfolioStockGraphData"
      [bondData]="activePortfolioBondData" [bondGraphData]="activePortfolioBondGraphData">
    </csmobile-stb-holdings-performance-charts>
  </div>


</ion-content>