<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>

  <div id="dashboard--wrapper" class="h100p">
    <!-- Naira Investments -->
    <ion-item-group>
      <ion-item-divider color="light" class="font-size-18 bg-csp-gradient">Naira Investments</ion-item-divider>
      <ion-item *ngIf="userHasStb" class="ml0" (click)="goToPage(stbPage)">
        <ion-icon name="stats" item-start class="text-blue"></ion-icon>
        <span class="ml0">Stockbroking</span>
        <span item-end>&#8358;{{totalStbValue | number:'1.2-2'}}</span>
      </ion-item>
      <ion-item *ngIf="!userHasStb" class="ml0">
        <ion-icon name="stats" item-start class="text-blue"></ion-icon>
        <span class="ml0">Stockbroking</span>
        <span item-end>---</span>
      </ion-item>
      <ion-item (click)="goToPage(fixedIncomePage)">
        <ion-icon name="briefcase" item-start class="text-blue"></ion-icon>
        Fixed Income
        <span item-end>&#8358;{{ totalFiValue | number:'1.2-2' }}</span>
      </ion-item>
      <ion-item (click)="goToPage(smaPage)">
        <ion-icon name="folder-open" item-start class="text-blue"></ion-icon>
        SMA
        <span item-end>&#8358;{{ totalSmaValue | number:'1.2-2' }}</span>
      </ion-item>
      <ion-item (click)="goToPage(nairaCashPage)">
        <ion-icon name="cash" item-start class="text-blue"></ion-icon>
        Cash Account
        <span item-end>&#8358;{{totalNairaCashValue | number:'1.2-2'}}</span>
      </ion-item>
      <ion-item class="total">
        <strong>TOTAL</strong>
        <span class="bold" item-end>&#8358;{{ totalNairaValue | number:'1.2-2' }}</span>
      </ion-item>
      <ion-item></ion-item>
    </ion-item-group>

    <ion-item-group class="mt5">
      <ion-item-divider color="light" class="font-size-18 bg-csp-gradient">FX Investments</ion-item-divider>
      <ion-item (click)="goToPage(fxPage)">
        <ion-icon name="card" item-start class="text-blue"></ion-icon>
        FX Investments
        <span item-end>&#36;{{ totalFxFiValue | number:'1.2-2' }}</span>
      </ion-item>
      <ion-item (click)="goToPage(dollarCashPage)">
        <ion-icon name="cash" item-start class="text-blue"></ion-icon>
        Cash Accounts
        <span item-end>&#36;{{totalFxCashValue | number:'1.2-2'}}</span>
      </ion-item>
      <ion-item class="total">
        <strong>TOTAL</strong>
        <span class="bold" item-end>&#36;{{ totalFxValue | number:'1.2-2' }}</span>
      </ion-item>
      <ion-item></ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light" class="font-size-18 bg-csp-gradient">Asset Allocation</ion-item-divider>
      <div id="accountOverview" style="height: 200px">
      </div>
    </ion-item-group>
  </div>

</ion-content>