csmobile-trade-overview {
  /**
  * Overriding bottom margin placed by ionic
  */
  .fixed-content,
  .scroll-content {
    margin-bottom: 0 !important;
    *margin-top: 0 !important;
  }

  .img-responsive {
    width: 70px;
    height: auto;
  }
  .img-div {
    display: flex;
    align-items: center;
  }
  ion-grid {
    &:hover {
      cursor: pointer;
    }
  }

  ion-grid:nth-child(even) {
    background: #ddd;
  }

  .securityNameCol {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .currPriceCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .btn-security-name {
    background: #1a2155;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
  }

  #fab--trade--text {
    // position: absolute;
    // margin-top: -7px;
    // left: 15%;
  }
}
