<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchInput()"></ion-searchbar>
      </ion-toolbar>
    </ion-buttons>
    <!-- <ion-title>Trade Overview</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchInput()" class="mt55">
  </ion-searchbar> -->

  <ion-grid *ngFor="let security of filteredSecurities">
    <ion-row (click)="goToSecurityOverview(security.name)">
      <!-- Security Name -->
      <ion-col class="securityNameCol font-size-14 btn-security-name" align-center text-center>
        <b>{{security.name}}</b>
      </ion-col>

      <!--Current Price and 24h vol -->
      <ion-col class="currPriceCol font-size-12" text-right>
        <div class="ml10">
          <span>
            <ion-icon *ngIf="security.priceChange > 0" name="arrow-round-up" class="text-green"></ion-icon>
            <ion-icon *ngIf="security.priceChange < 0" name="arrow-round-down" class="text-red"></ion-icon>
            <ion-icon *ngIf="security.priceChange === 0" name="remove" class="text-blue text-bold"></ion-icon>
          </span>
          &#8358; {{security.currentPrice}}
        </div>
        <div class="ml10">
          <span>vol:</span>
          <span>{{ security.quantityTraded | number:'1.0-0' }}</span>
        </div>
      </ion-col>

      <!-- Bid and Offer -->
      <ion-col col-lg-4 class="font-size-12" text-right align-right>
        <ion-row text-right>
          <ion-col class="p0" col->Bid</ion-col>
          <ion-col class="p0 text-green">&#8358;{{ security.bidPrice | number:'1.2-2' }}</ion-col>
        </ion-row>
        <ion-row text-right>
          <ion-col class="p0" col-6>Offer</ion-col>
          <ion-col class="p0 text-red">&#8358;{{ security.offerPrice | number:'1.2-2' }}</ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- FAB BUTTON -->
  <ion-fab bottom right class="mrr10 pp10">
    <button ion-fab class="pp25" (click)="goToPlaceMandatePage()">
      <ion-icon>
        <span class="font-size-11" id="fab--trade--text">TRADE</span>
      </ion-icon>
    </button>
  </ion-fab>
</ion-content>