<!-- Generated template for the PortfolioHoldingsComponent component -->
<div no-padding>
  <!-- Stocks and Bonds -->
  <div padding class="pt0 pl2 pr2">
    <ion-segment [(ngModel)]="holdingType" class="csp--segment mt10">
      <ion-segment-button value="stocks">
        Stocks
      </ion-segment-button>
      <ion-segment-button value="bonds">
        Bonds
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="holdingType">

    <!-- Stock Holdings -->
    <div *ngSwitchCase="'stocks'">
      <ion-list class="mt10 holdings-list">
        <!-- Display if stock holdings exist -->
        <ion-item *ngIf="stockHoldings?.length > 0">
          <ion-grid *ngFor="let stockHolding of stockHoldings" (click)="goToMandatePage(stockHolding?.securityName)">
            <ion-row>
              <ion-col>
                <strong>{{ stockHolding?.securityName }}</strong>
              </ion-col>
              <ion-col class="font-size-12 align-right">
                Gain/Loss:
                <csmobile-format-number-with-color [data]="stockHolding?.percentGain" [showCurrency]="true"></csmobile-format-number-with-color>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="font-size-12">WAC: &#8358;{{ stockHolding?.costBasis | number:'1.2-2' }}</ion-col>
              <ion-col class="font-size-12 align-right">
                Qty: {{ stockHolding?.quantityHeld | number:'1.0-0' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="font-size-12">
                Cur Price: &#8358; {{ stockHolding?.marketPrice }}

              </ion-col>
              <ion-col class="font-size-12 align-right">
                Val: &#8358;{{ stockHolding?.valuation | number:'1.2-2' }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- Display if there are no stock holdings in the account -->
        <ion-item *ngIf="stockHoldings?.length <= 0">
          <ion-grid>
            <ion-row class="mt40">
              <ion-col text-center>No stock holdings in this portfolio</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>

    <!-- Bond Holdings -->
    <div *ngSwitchCase="'bonds'">
      <ion-list class="mt10 holdings-list holdings-bonds">

        <!-- Bond Holding Exist -->
        <ion-item *ngIf="bondHoldings?.length > 0">
          <ion-grid *ngFor="let bondHolding of bondHoldings">
            <ion-row>
              <ion-col>
                Security
              </ion-col>
              <ion-col class="align-right">
                {{ bondHolding?.securityName }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="">Units</ion-col>
              <ion-col class=" align-right">{{ bondHolding?.quantityHeld }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="">
                Accrued Coupon
              </ion-col>
              <ion-col class="align-right">&#8358;{{ bondHolding?.accruedCoupon | number:'1.2-2' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="">
                Face Value
              </ion-col>
              <ion-col class="align-right">&#8358;{{ bondHolding?.faceValue | number:'1.2-2' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="">
                Maturity Date
              </ion-col>
              <ion-col class="align-right">
                {{ bondHolding?.maturityDate | date:'mediumDate' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- No Bond Holdings -->
        <ion-item *ngIf="bondHoldings?.length <= 0">
          <ion-grid>
            <ion-row class="mt40">
              <ion-col text-center class="font-size-16">
                No bond holdings in this portfolio
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>

  </div>


</div>